* {
  padding: 0;
  margin: 0;
}

.w-40{
  width: 40%;
}

.header {
  background-color: var(--bg-secundario);
}

.navbar {
  background-color: var(--bg-principal);
  -webkit-box-shadow: 0px 11px 17px 0px rgba(19,20,31,1);
  -moz-box-shadow: 0px 11px 17px 0px rgba(19,20,31,1);
  box-shadow: 0px 11px 17px 0px rgba(19,20,31,1);
}

.nav-item .nav-link {
  color: var(--color-blanco);
  font-weight: var(--font-medium);
}

.nav-item:hover .nav-link {
  color: var(--color-auxiliar);
}

.nav-item.nav-item-important {
  background-color: var(--color-auxiliar);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--color-auxiliar);
}

.nav-item.nav-item-important:hover {
  background-color: var(--color-blanco);
}

.nav-item.nav-item-important:hover .nav-link {
  color: var(--color-auxiliar);
}

/** About me **/

.about-me{
  background-color: var(--bg-principal);
}

.about-me .presentation{
  border: 8px solid var(--color-auxiliar);
}

.about-me .skills .list-group .list-group-item{
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--color-blanco);
  font-weight: var(--font-medium);
  border: none;
}

.about-me .skills .list-group .list-group-item .badge{
  background-color: var(--color-auxiliar);
  color: var(--color-blanco);
}

.badge.expert{
  background-color: var(--color-auxiliar);
}

.badge.intermediate{
  background-color: var(--color-auxiliar);
}

.badge.beginer{
  background-color: var(--color-auxiliar);
}





