/** General **/
* {
  padding: 0;
  margin: 0;
}

.w-40{
  width: 40%;
}

.w-60{
  width: 60%;
}

.w-85{
  width: 85%;
}

.list-group .list-group-item{
  background-color: rgba(255, 255, 255, 0.75);
  color: var(--bg-principal);
  font-weight: var(--font-medium);
  border: none;
}

.list-group .list-group-item .badge{
  background-color: var(--color-auxiliar);
  color: var(--color-blanco);
}

.list-group .list-group-item.list-group-item-action.active{
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--color-blanco);
}

/** Header **/

.header {
  background-color: var(--bg-secundario);
}

.header h1{
  color: var(--color-auxiliar);
  font-size: 48px;
  font-weight: var(--font-bold);
  background-color: var(--color-blanco);
}

.navbar {
  background-color: var(--bg-principal);
  -webkit-box-shadow: 0px 11px 17px 0px rgba(19,20,31,1);
  -moz-box-shadow: 0px 11px 17px 0px rgba(19,20,31,1);
  box-shadow: 0px 11px 17px 0px rgba(19,20,31,1);
  border-radius: 0 0 8px 8px;
  width: 90%;
  margin: 0 auto;
}

.nav-item .nav-link {
  color: var(--color-blanco);
  font-weight: var(--font-medium);
}

.nav-item:hover .nav-link {
  color: var(--color-auxiliar);
}

.nav-item.nav-item-important {
  background-color: var(--color-auxiliar);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--color-auxiliar);
}

.nav-item.nav-item-important:hover {
  background-color: var(--color-blanco);
}

.nav-item.nav-item-important:hover .nav-link {
  color: var(--color-auxiliar);
}

/** About me **/

.about-me{
  background-color: var(--bg-principal);
}

.about-me h2,
.studies h2,
.experience h2,
.portfolio h2 {
  border-bottom: 2px solid var(--color-blanco);
}

.about-me .presentation{
  font-size: 14px;
  background: var(--color-auxiliar);
  border-radius: 100px;
}

.about-me .skills .list-group .list-group-item{
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--color-blanco);
  font-weight: var(--font-medium);
  border: none;

}

.about-me .skills .list-group .list-group-item .badge{
  background-color: var(--color-auxiliar);
  color: var(--color-blanco);
}

.badge.intermediate{
  background-color: var(--color-auxiliar);
}


/** Studies **/

.studies{
  background-color: var(--bg-secundario);
}


/** Experience **/

.experience{
  background-color: var(--bg-principal);
}

/** Portfolio **/

.portfolio{
  background-color: var(--bg-secundario);
}

.footer{
  background-color: var(--color-auxiliar);
}

.footer a{
  color: var(--color-blanco);
  font-weight: var(--font-medium);
}



